
<!-- <app-pipes></app-pipes> 
<app-boucles></app-boucles> -->

<!-- <app-scss></app-scss>
<app-nouveau></app-nouveau>
<app-nouveau></app-nouveau>
<app-nouveau></app-nouveau>
<app-nouveau></app-nouveau>

<app-itis></app-itis>
<app-itis></app-itis>
<app-itis></app-itis>
<app-itis></app-itis>
test {{title}} -->
<header>
    header
    <a routerLink="pipes" routerLinkActive="active">Lien vers pipes</a>
    <a routerLink="itis" routerLinkActive="active">Lien vers itis</a>
</header>

<router-outlet></router-outlet>

<footer>footer</footer>

