<app-boucles></app-boucles>

<!-- <app-scss></app-scss>
<app-nouveau></app-nouveau>
<app-nouveau></app-nouveau>
<app-nouveau></app-nouveau>
<app-nouveau></app-nouveau>

<app-itis></app-itis>
<app-itis></app-itis>
<app-itis></app-itis>
<app-itis></app-itis>
test {{title}} -->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>
