<div class="card px-4">
    <div class="card-body">
        <p class="text-success text-center">{{message}}</p>
        <form #productForm="ngForm" (ngSubmit)="submitProduct(productForm)">
            <label class="form-label" for="name">Nom :</label>
            <input class="form-control mb-3" type="text" id="name" name="name" ngModel>
            <label class="form-label" for="img">Image :</label>
            <input class="form-control mb-3" type="text" id="img" name="img" ngModel>
            <label class="form-label" for="price">Prix :</label>
            <input class="form-control mb-3" type="number" id="price" name="price" ngModel>
            <label class="form-label" for="stock">Stock :</label>
            <input class="form-control mb-3" type="number" id="stock" name="stock" ngModel>
            <button type="submit" class="btn btn-primary w-100">Ajouter le produit</button>
        </form>
    </div>
</div>
